<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <!-- link to main stylesheet -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="www.linkedin.com/in/tepickering">LinkedIn</a></li>
                <li><a href="https://ui.adsabs.harvard.edu/#search/fq=%7B!type%3Daqp%20v%3D%24fq_author%7D&fq_author=((*%3A*%20NOT%20author_facet_hier%3A%221%2FPickering%2C%20T%2FPickering%2C%20Thomas%22)%20NOT%20author_facet_hier%3A%221%2FPickering%2C%20T%2FPickering%2C%20Tim%22)&p_=3&q=(author%3A%22Pickering%2C%20T.%20E.%22%20AND%20year%3A1989-2017)&sort=date%20desc%2C%20bibcode%20desc">ADS</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
        <div class="container">

            {{ content }}

        </div><!-- /.container -->
        <footer>
            <ul>
                <li><a href="mailto:te.pickering@gmail.com">email</a></li>
                <li><a href="https://github.com/tepickering">github.com/tepickering</a></li>
            </ul>
        </footer>
    </body>
</html>
